
import React, { Component } from 'react';
import PropTypes from 'prop-types';
import styles from './{{pascalCase ComponentName}}.module.css';

class {{pascalCase ComponentName}} extends Component{
  state = {

  }
  render(){
    return (
      <div className={styles.root}>

      </div>
  );}
};

{{pascalCase ComponentName}}.defaultProps = {

};

{{pascalCase ComponentName}}.propTypes = {

};


export default {{ properCase ComponentName }};
